<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetra AI</title>
</head>
<body>
    <h1>This is Tetra AI</h1>
    <script src="../static/scripts/getGoogleAuthURL.js" type="text/javascript"></script>
    <div><a id="signup" href="javascript:void(0);" onclick="window.location.href = getGoogleAuthURL('signup');">Signup with Google</a></div>
    <div><a id="login" href="javascript:void(0);" onclick="window.location.href = getGoogleAuthURL('login');">Login with Google</a></div>
</body>
</html>